<div class="row">
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="isVisible">
      div 1
    </div>
  </div>
  <div class="col-3">
    <div class="bg-danger p-3" *ngIf="num1==num2">
      div 2
    </div>
  </div>

  <div class="col-3">
    <div class="row">
      <div class="col-6">
        <select class="form-control" [(ngModel)]="selected">
          <option>OBC</option>
          <option>SC-NT</option>
          <option>OPEN</option>
          <option>OTHER</option>
        </select>
      </div>
      <div class="col-6" *ngIf="selected=='OTHER'">
        <input type="text" class="form-control" placeholder="Enter your caste">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3 p-3">
    <button class="btn btn-danger" (click)="hidediv()">Hide</button>
    <button class="btn btn-primary mx-2" (click)="showdiv()">Show</button>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input type="text" placeholder="Num 1" [(ngModel)]="num1">

    <input type="text" placeholder="Num 2" [(ngModel)]="num2">
  </div>
</div>

<div class="row">
  <div class="col-3">
    <ul>
      <li *ngFor="let city of cityList">{{city}}</li>
    </ul>
  </div>
  <div class="col-3">
    <select name="" id="">
      <option value="">Select City</option>
      <option *ngFor="let cityName of cityList">{{cityName}}</option>
    </select>
  </div>
  <div class="col-5">
    <table>
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>City</th>
          <th>Status</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of studentList; let i=index">
          <td>{{i+1}}</td>
          <td>{{e.name}}</td>
          <td>{{e.city}}</td>
          <td>
            <p *ngIf="e.isActive">Student is Active</p>
            <p *ngIf="e.isActive == false">Student is De-Active</p>
          </td>
          <td>
            @if(e.grade=='A'){
            <span>A Grade</span>
            }@else if(e.grade=='B'){
            <span>B Grade</span>
            }@else if(e.grade=='C'){
            <span>C Grade</span>
            }@else if(e.grade=='D'){
            <span>D Grade</span>
            }@else{
            <span>Not Graded</span>
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-3">

    @if(isDiv1Visible == true){
    <div>
      div 1111111111
    </div>
    }@else{
    <div>
      div 22222222222
    </div>
    }

  </div>
</div>

<hr>

<div class="row">
  <div class="col-3">
    <div class="p-3" [ngClass]="studDivClassName">
      Student
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="p-3" [ngClass]="studEmpDivClass">
      Employee
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input type="text" [(ngModel)]="studEmpDivClass">
  </div>
</div>


<div class="row">
  <div class="col-3" [ngClass]="isOrderActive==true?'bg-success':'bg-danger'">
    Orders
  </div>
  <div class="col-3">
      <input type="checkbox" [(ngModel)] = "isOrderActive" >
  </div>
</div>
